* {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Montserrat", sans-serif;
  }

  .center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }

  a {
    text-decoration: none;
  }

  .games__item {
    display: flex;
  }
  
  